<div>
	<script type="text/template" id="landing-template">

		<header>
			<h1 id="logo"><a href="#">Tache</a></h1>
			<div id="login">
				<input type="text" name="username_login" data-username="{{=username}}" id="username_login" class="login" placeholder="Username">
				<input type="password" name="password_login" id="username_pwd" class="login" placeholder="Password">
				<input type="submit" id="login_button" value="Login">

				<div id="error"></div>
			</div>


		</header>

		<div id="wrapper">
		<div>
			<h1 id="tache" class="index_headers">Time Management Made Simple</h1>
			<h2 id="description" class="index_headers">Tache is the new way of making time management less of a hassle</h2>
		</div>
		<div id="cta">
			<img src="images/snapshots.png">
		</div>
		<section class="container">
			<div id="signup">
				<h1 id="signup_sign" class="index_headers">Sign Up is <i>FREE</i> and Easy</h1>
				<input type="text" name="email" id="register_email" placeholder="Email" class="four columns">
				<input type="text" name="username_signup" id="register_username" placeholder="Username" class="four columns">
				<input type="password" name="password_signup" id="register_pwd" placeholder="Password" class="four columns">
				<input id="register_button" type="submit" value="Join">
		</div>
		</section>
		
	
			<div id="features" class="container">
				<h2 id="features_description">Features to make task management fast and simple</h3>
				<div class="features_info one-third column">
					<img src="images/feature1.svg">
					<p>Save a list of your clients information</p>
				</div>
				<div class="features_info one-third column">
					<img src="images/feature2.svg">
					<p>Have an unlimited amount of projects. Keep tasks organized and up-to-date</p>
				</div>
				<div class="features_info one-third column">
					<img src="images/feature3.svg">
					<p>Easily update and add tasks to your projects</p>
				</div>
			</div>
		<div id="testimonies">
			<div  class="container">
				<div class="personal_testimony one-third column">
					<p>Karen Roe, MI</p>
					<p><i>"It's tough being<br> an event planner<br> and Tache made<br> my job less of a<br> hassle!"</i></p>
				</div>
				<div class="personal_testimony one-third column">
					<p>Jon Rowland, CA</p>
					<p><i>"I am a CEO and a dad.<br> Tache makes it easy to plan<br> a meeting and make it to my<br> son's baseball game on<br> time."</i></p>
				</div>
					<div class="personal_testimony one-third column">
					<p>Dan Jones, OH</p>
					<p><i>"Tache is definitely the future of task management!"</i></p>
				</div>
			</div>
		</div>
		</div>
		
	</script>

	<script type="text/template" id="app-template">

		<header>
			<h1 id="logo"><a href="projects.html">Tache</a></h1>
			<div id="login">
				<input type="submit" id="logout" value="Logout">
			</div>
		</header>
		<div>
			<h1 id="projects">Projects</h1>
		</div>

			<aside>
				<img src="images/add.svg" id="add_icon">
				<h3>Add Project</h4>
				<img src="images/account_info.svg" id="account_icon">
				<h3>Account Info</h4>
				<img src="images/clients.svg">
				<h3>Clients</h4>
			</aside>
		
		<div id="wrapperTwo">

			
		</div>

	</script>

	<script type="text/template" id="project_item">

		<div id="project" class="container">
				<h2 class="{{=status}}">{{=projectName}}</h2>
				<p id="description_project"  class="project_description one-third column">{{=projectDescription}}</p>
				<div id="project_dates" class="one-third column">
					<p class="year">13</p>
					<p class="date">Sep 19</p>
					<p class="time">1:00 p.m</p>
					<br>
					<p class="location">Full Sail Room FS4A 103</p>
					<a id="view_tasks" data-ID="{{=id}}"><p class="tasks">View Tasks</p></a>
				</div>
				<div id="icons" class="one-third column">
					<img id="delete" src="images/delete.svg" alt="Delete the project">
					<br>
					<img id="edit" data-projectid="{{=id}}" src="images/edit.svg" alt="Edit the project">
				</div>
			</div>

	</script>

	<script type="text/template" id="task-template">

		<header>
			<h1 id="logo"><a href="projects.html">Tache</a></h1>
			<div id="login">
				<a href="index.html"><input type="submit" id="logout" value="Logout"></a>
			</div>
		</header>
		<div>
			<h1 id="projects">Tasks</h1>
		</div>
		
		<div id="wrapper">
			<aside>
				<img src="images/add.svg">
				<h3>Add Project</h4>
				<img src="images/account_info.svg">
				<h3>Account Info</h4>
				<img src="images/clients.svg">
				<h3>Clients</h4>
			</aside>
			

		</div>

	</script>

	<script type="text/template" id="task_item">

		<div id="project" class="container">
				<h2 class="{{=status}}">{{=taskName}}</h2>
				<p id="description_project" class="project_description one-third column"> {{=taskDescription}} </p>
				<div id="task_dates" class="one-third column">
					<p class="year">13</p>
					<p class="date">Sep 19</p>
					<p class="time">1:00 p.m</p>
					<br>
					<p class="location">Full Sail Room FS4A 103</p>
					<!-- <p class="tasks">View Tasks</p> -->
				</div>
				<div id="icons" class="one-third column">
					<img id="task_delete" src="images/delete.svg" alt="Delete the project">
					<br>
					<img id="task_edit" data-taskid="{{=id}}" src="images/edit.svg" alt="Edit the task">
				</div>
			</div>

	</script>

	<script type="text/template" id="add_project">

		<header>
			<h1 id="logo"><a href="projects.html">Tache</a></h1>
			<div id="login">
				<a href="index.html"><input type="submit" id="logout" value="Logout"></a>
			</div>
		</header>
		<div>
			<h1 id="projects">Add Project</h1>
		</div>
		
		<div id="wrapper">
			<aside>
				<img src="images/add.svg">
				<h3>Add Project</h4>
				<img src="images/account_info.svg">
				<h3>Account Info</h4>
				<img src="images/clients.svg">
				<h3>Clients</h4>
			</aside>
			<div id="addproject">
				<form>
					<fieldset>
						<div id="name" class="add">
							<label for="project_name">Project Name:</label>
							 <input type="text" name="name" id="project_name" placeholder="Project Name">
						</div>
						
							<div id="add_description">
								<label id="description_label" for="text_description">Project Description:</label> 
								<textarea rows="8" cols="40" id="text_description"></textarea>
							</div>
						
						<div id="date" class="add">
							<label for="project_date">Project Date:</label> 
							<input type="text" name="name" id="datepicker" id="project_date" placeholder="Click for Date" class="add_input">
						</div>
						<div id="time" class="add">
							<label for="project_time">Project Time:</label>
							 <input type="text" name="name" id="project_time" placeholder="Project Time" class="add_input">
						</div>
						<div id="location" class="add">
							<label for="project_location">Project Location:</label>
							<input type="text" name="name" id="project_location" placeholder="Project Location" class="add_input">
						</div>
					</fieldset>
				</form>
				<ul>
					<li>Status:</li>
					<li class="clickable" id="red">Urgent</li>
					<li class="clickable" id="blue">Active</li>
					<li class="clickable" id="white">Delayed</li>
					<li class="clickable" id="green">Complete</li>
				</ul>




				<form>
					<fieldset>
						<div id="name" class="add">
							<label for="project_name">Task Name:</label>
							 <input type="text" name="name" id="project_name" placeholder="Task Name">
						</div>
						
							<div id="add_description">
								<label id="description_label" for="text_description">Task Description:</label> 
								<textarea rows="8" cols="40" id="second_text_description"></textarea>
							</div>
						
						<div id="date" class="add">
							<label for="project_date">Task Date:</label> 
							<input type="text" name="name" id="project_date" placeholder="Click for Date" class="add_input">
						</div>
						<div id="time" class="add">
							<label for="project_time">Task Time:</label>
							 <input type="text" name="name" id="project_time" placeholder="Task Time" class="add_input">
						</div>
						<div id="location" class="add">
							<label for="project_location">Task Location:</label>
							<input type="text" name="name" id="project_location" placeholder="Task Location" class="add_input">
						</div>
					</fieldset>
				</form>
				<ul>
					<li>Status:</li>
					<li id="red">Urgent</li>
					<li id="blue">Active</li>
					<li id="white">Delayed</li>
					<li id="green">Complete</li>
				</ul>
				<p>Add Another Task</p>
				<input type="submit" value="Add Project" id="button" />
			</div>
		</div>

	</script>

	<script type="text/template" id="edit_project">

		<header>
			<h1 id="logo"><a href="projects.html">Tache</a></h1>
			<div id="login">
				<a href="index.html"><input type="submit" id="logout" value="Logout"></a>
			</div>
		</header>
		<div>
			<h1 id="projects">Projects</h1>
		</div>
		
		<div id="wrapper">
			<aside>
				<img src="images/add.svg" id="add_icon">
				<h3>Add Project</h4>
				<img src="images/account_info.svg">
				<h3>Account Info</h4>
				<img src="images/clients.svg">
				<h3>Clients</h4>
			</aside>
			<div id="project" class="container">
				<div id="edit_task" class="project_description one-third column">
					<input type="text" id="edit_task_name"  placeholder="Creative Brief">
					<textarea rows="8" cols="40" placeholder="Create a summary of the site including wireframes and branding." id="edit_task_description"></textarea>
				</div>
				<div id="edit_task_dates" class="one-third column">
					<input type="text" id="datepicker" id="edit_task_date" placeholder="Click for date">
					<input type="text" id="edit_task_time" placeholder="1:00 p.m">
					<input type="text" id="edit_task_location" placeholder="Full Sail Room FS4A 103">
				</div>
				<div id="edit_task_icons" class="one-third column">
					<a href="projects.html"><img id="confirm" src="images/confirm.svg" alt="Save the Changes"></a>
					
				</div>
			</div>
		</div>

	</script>

	<script type="text/template" id="account-template">

		<header>
			<h1 id="logo"><a href="projects.html">Tache</a></h1>
			<div id="login">
				<a href="index.html"><input type="submit" id="logout" value="Logout"></a>
			</div>
		</header>
		<div>
			<h1 id="projects">Account Info</h1>
		</div>
		
		<div id="wrapper">
			<aside>
				<img src="images/add.svg">
				<h3>Add Project</h4>
				<img src="images/account_info.svg">
				<h3>Account Info</h4>
				<img src="images/clients.svg">
				<h3>Clients</h4>
			</aside>
			<div id="accountinfo">
				<form>
					<fieldset>
						<div id="full_name" class="account">
							<label for="project_name">Full Name:</label>
							 <input type="text" name="name" id="full_name" placeholder="John Doe">
						</div>
						<div id="email" class="account">
							<label for="project_name">Email:</label>
							 <input type="text" name="name" id="user_email" placeholder="JohnDoe@yahoo.com">
						</div>
						<div id="username" class="account">
							<label for="project_date">Username:</label> 
							<input type="text" name="name" id="username" placeholder="Enter Username" class="add_input">
						</div>
						<div id="password" class="account">
							<label for="project_time">Password:</label>
							 <input type="text" name="name" id="user_password" placeholder="Enter Password" class="add_input">
						</div>
						<div id="retype" class="account">
							<label for="project_location">Retype Password:</label>
							<input type="text" name="name" id="user_retype" placeholder="Retype Password" class="add_input">
						</div>
					</fieldset>
				</form>
	
				<a href="projects.html"><input type="submit" value="Save Changes" id="savebutton" /></a>
			</div>
		</div>

	</script>

	<script type="text/template" id="update_task">

		<header>
			<h1 id="logo"><a href="projects.html">Tache</a></h1>
			<div id="login">
				<a href="index.html"><input type="submit" id="logout" value="Logout"></a>
			</div>
		</header>
		<div>
			<h1 id="projects">Tasks</h1>
		</div>
		
		<div id="wrapper">
			<aside>
				<img src="images/add.svg">
				<h3>Add Project</h4>
				<img src="images/account_info.svg">
				<h3><Account Info</h4>
				<img src="images/clients.svg">
				<h3>Clients</h4>
			</aside>
			<div id="project" class="container">
				<div id="edit_task" class="project_description one-third column">
					<input type="text" id="edit_task_name"  placeholder="Creative Brief">
					<textarea rows="8" cols="40" placeholder="Create a summary of the site including wireframes and branding." id="edit_task_description"></textarea>
				</div>
				<div id="edit_task_dates" class="one-third column">
					<input type="text" id="edit_task_date" placeholder="Click for date">
					<input type="text" id="edit_task_time" placeholder="1:00 p.m">
					<input type="text" id="edit_task_location" placeholder="Full Sail Room FS4A 103">
				</div>
				<div id="edit_task_icons" class="one-third column">
					<img id="confirm_task" src="images/confirm.svg" alt="Save the Changes">
					
				</div>
			</div>
		</div>

	</script>


</div>